<div class="main">
    <div class="form-main">
        <mat-stepper headerPosition="top" #stepper>
            <!--Personal details-->
            <mat-step>
                <form>
                    <ng-template matStepLabel>Personal Details</ng-template>
                    <div class="container-fluid mt-5">
                        <div class="row">
                            <div
                                class="col-lg-6 col-md-6 col-sm-12 p-0 mb-3 d-flex align-items-center justify-content-center">
                                <mat-form-field class="example-full-width custom-height-field" appearance="outline">
                                    <mat-label>First Name</mat-label>
                                    <input name="firstName" type="text" [(ngModel)]="firstName" matInput
                                        placeholder="First Name" readonly>
                                </mat-form-field>
                            </div>
                            <div
                                class="col-lg-6 col-md-6 col-sm-12 p-0 mb-3 d-flex align-items-center justify-content-center">
                                <mat-form-field class="example-full-width custom-height-field" appearance="outline">
                                    <mat-label>Last Name</mat-label>
                                    <input type="text" name="lastName" [(ngModel)]="lastName" matInput
                                        placeholder="Last Name" readonly>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div
                                class="col-lg-6 col-md-6 col-sm-12 p-0 mb-3 d-flex align-items-center justify-content-center">
                                <mat-form-field class="example-full-width custom-height-field" appearance="outline">
                                    <mat-label>Email</mat-label>
                                    <input type="email" name="email" [(ngModel)]="email" matInput
                                        placeholder="email@ex.com" readonly>
                                </mat-form-field>
                            </div>
                            <div
                                class="col-lg-6 col-md-6 col-sm-12 p-0 mb-3 d-flex align-items-center justify-content-center">
                                <mat-form-field class="example-full-width custom-height-field" appearance="outline">
                                    <mat-label>Phone Number</mat-label>
                                    <input type="text" name="mobNo" [(ngModel)]="mobNo" matInput
                                        placeholder="Phone Number" readonly>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div
                                class="col-lg-6 col-md-6 col-sm-12 p-0 mb-3 d-flex align-items-center justify-content-center">
                                <mat-form-field class="example-full-width custom-height-field" appearance="outline">
                                    <mat-label>Date Of Birth</mat-label>
                                    <input matInput name="dob" [(ngModel)]="dob" [matDatepicker]="picker" readonly>
                                    <mat-hint>MM/DD/YYYY</mat-hint>
                                    <mat-datepicker-toggle matIconSuffix [for]="picker" disabled>
                                        <!-- <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon> -->
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 p-0 mb-3 d-flex flex-column align-items-center justify-content-center"
                                style="width: 60%;">
                                <div style="width: 60%;">
                                    <label>Gender: </label>
                                </div>
                                <div style="width: 60%;">
                                    <mat-radio-group name="gender" [(ngModel)]="gender" disabled>
                                        <mat-radio-button value="male">Male</mat-radio-button>
                                        <mat-radio-button value="female">Female</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="row">
                            <div
                                class="col-lg-6 col-md-6 col-sm-12 p-0 mb-3 d-flex align-items-center justify-content-center">
                                <mat-form-field class="example-full-width custom-height-field" appearance="outline">
                                    <mat-label>Date Of Birth</mat-label>
                                    <input matInput name="dob" [(ngModel)]="dob" [matDatepicker]="picker" readonly>
                                    <mat-hint>MM/DD/YYYY</mat-hint>
                                    <mat-datepicker-toggle matIconSuffix [for]="picker" disabled></mat-datepicker-toggle>
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div> -->
                    </div>
                </form>
            </mat-step>

            <!--Address details-->
            <mat-step>
                <form>
                    <ng-template matStepLabel>Address Details</ng-template>
                    <div class="container-fluid mt-5">
                        <div class="row">
                            <div
                                class="col-lg-6 col-md-6 col-sm-12 p-0 mb-3 d-flex align-items-center justify-content-center">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Address</mat-label>
                                    <textarea name="address" [(ngModel)]="address" matInput readonly></textarea>
                                </mat-form-field>
                            </div>
                            <div
                                class="col-lg-6 col-md-6 col-sm-12 p-0 mb-3 d-flex align-items-center justify-content-center">
                                <mat-form-field class="example-full-width custom-height-field" appearance="outline">
                                    <mat-label>Country</mat-label>
                                    <input type="text" name="country" [(ngModel)]="country" matInput
                                        placeholder="country" readonly>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div
                                class="col-lg-6 col-md-6 col-sm-12 p-0 mb-3 d-flex align-items-center justify-content-center">
                                <mat-form-field class="example-full-width custom-height-field" appearance="outline">
                                    <mat-label>State</mat-label>
                                    <input type="text" name="state" [(ngModel)]="state" matInput placeholder="state"
                                        readonly>
                                </mat-form-field>
                            </div>
                            <div
                                class="col-lg-6 col-md-6 col-sm-12 p-0 mb-3 d-flex align-items-center justify-content-center">
                                <mat-form-field class="example-full-width custom-height-field" appearance="outline">
                                    <mat-label>City</mat-label>
                                    <input type="text" name="city" [(ngModel)]="city" matInput placeholder="city"
                                        readonly>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </form>
            </mat-step>

            <!--Skill details-->
            <mat-step>
                <form>
                    <ng-template matStepLabel>Skill Details</ng-template>
                    <div class="container-fluid mt-5">
                        <div class="row">
                            <div
                                class="col-lg-6 col-md-6 col-sm-12 p-0 mb-3 d-flex align-items-center justify-content-center">
                                <mat-form-field class="example-chip-list" appearance="outline">
                                    <mat-label>Skills</mat-label>
                                    <mat-chip-grid #chipGrid aria-label="sill selection">
                                        <mat-chip-row *ngFor="let skill of skills">
                                            {{skill}}
                                            <!-- <button matChipRemove [attr.aria-label]="'remove ' + skill">
                                                <mat-icon>cancel</mat-icon>
                                            </button> -->
                                        </mat-chip-row>
                                    </mat-chip-grid>
                                    <input #skillInput [matChipInputFor]="chipGrid" readonly />
                                </mat-form-field>
                            </div>
                            <div
                                class="col-lg-6 col-md-6 col-sm-12 p-0 mb-3 d-flex align-items-center justify-content-center">
                                <mat-form-field class="example-chip-list" appearance="outline">
                                    <mat-label>Hobbies</mat-label>
                                    <mat-chip-grid #hobbyChipGrid aria-label="hobby selection">
                                        <mat-chip-row *ngFor="let hobby of hobbies">
                                            {{hobby}}
                                            <!-- <button matChipRemove>
                                                <mat-icon>cancel</mat-icon>
                                            </button> -->
                                        </mat-chip-row>
                                    </mat-chip-grid>
                                    <input #hobbyInput [matChipInputFor]="hobbyChipGrid"
                                        readonly />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div
                                class="col-lg-6 col-md-6 col-sm-12 p-0 mb-3 d-flex align-items-center justify-content-center">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Favourite Subjects</mat-label>
                                    <mat-select multiple name="subject" [(ngModel)]="subjects">
                                        <mat-option *ngFor="let subject of subjects" [value]="subject" disabled>
                                            {{ subject }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </form>
            </mat-step>

            <!--Emergency contact details-->
            <mat-step>
                <form>
                    <ng-template matStepLabel>Emergency contact Details</ng-template>
                    <div class="container-fluid mt-5">
                        <div class="row">
                            <div
                                class="col-lg-6 col-md-6 col-sm-12 p-0 mb-3 d-flex align-items-center justify-content-center">
                                <mat-form-field class="example-full-width custom-height-field" appearance="outline">
                                    <mat-label>Contact person</mat-label>
                                    <input type="text" name="contactPerson" [(ngModel)]="contactPerson" matInput
                                        placeholder="Contact person" readonly>
                                </mat-form-field>
                            </div>
                            <div
                                class="col-lg-6 col-md-6 col-sm-12 p-0 mb-3 d-flex align-items-center justify-content-center">
                                <mat-form-field class="example-full-width custom-height-field" appearance="outline">
                                    <mat-label>Phone number</mat-label>
                                    <input type="text" name="emergencyPhoneNumber" [(ngModel)]="emergencyPhoneNumber"
                                        matInput placeholder="Phone number" readonly>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div
                                class="col-lg-6 col-md-6 col-sm-12 p-0 mb-3 d-flex align-items-center justify-content-center">
                                <mat-form-field class="example-full-width custom-height-field" appearance="outline">
                                    <mat-label>Relationship</mat-label>
                                    <input type="text" name="relationship" [(ngModel)]="relationship" matInput
                                        placeholder="Relationship" readonly>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </form>
            </mat-step>
        </mat-stepper>
    </div>
</div>