.main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.center{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(206, 201, 201);
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgb(214, 212, 212);
    background-color: rgba(125, 142, 156, 0.753);
}

::ng-deep .custom-height-field .mat-mdc-text-field-wrapper.mdc-text-field {
    height: 50px !important;
    align-items: center;
  }

.heading{
    margin-top: 40px;
}

.form-main{
    width: 90%;
    margin-top: 20px;
}

.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-sub{
    width: 80%;
    margin-bottom: 20px;
}

.captcha{
   display: flex;
   justify-content: center;
   width: 80%;
   margin-bottom: 20px;
}

.example-full-width{
    width: 100%;
}

.signin-button button{
    cursor: pointer;
    padding: 12px 80px;
    background-color:rgb(84, 84, 94);
    color: white;
    border-radius: 18px;
    font-size: 16px;
    font-weight: 400;
    border: none;
    margin-bottom: 10px;
}

.pointer a{
    cursor: pointer;
}

